<div class="homework">
  <textarea rows="10" [(ngModel)]="content"></textarea>
  <button type="submit" (click)="parseTemplate()">Parse Template</button>


  <button type="submit" (click)="displayResult()">Display result</button>

  <a href="javascript:void(0);" [routerLink]="['./task2']">Task2</a>
</div>




